@import 'normalize';

$orange: #e7604a;
$purple: #ac72c3; /* RBG = 172,114,195 */
$green: #36c77b;
$blue: #29c7c8; /* RBG = 41,199,200 */
$alt-bg: #fafcfc; /* Off-white background*/
$border: #e8ebee;

/*Google web font with 300, 400, 700 weights*/
$font: 'Open Sans', sans-serif;
$font-dark: #5a5b5f;
$font-med: #93969f;
$font-light: #bdbfc4;

/* --------------------------- */
/* -----Global Tags Style----- */
/* --------------------------- */
html {
	height: 100%;
}

body {
	height: 100%;
	background-color: white;
	min-width: 960px;
/*
	-webkit-animation: blur 1.5s ease-in;
	animation-iteration-count: 1;
	-webkit-filter: blur(0);
*/	 
}

/*
@-webkit-keyframes blur {
	from {-webkit-filter: blur(5px);}
	to {-webkit-filter: blur(0);}
}
*/

a {
	text-decoration: none;
	color:inherit;
	
	&:hover {
		cursor: pointer;
	}
}


h2 {
	font-family: $font;
	font-weight: 400;
	font-size: 1.429em;
	color: $font-med;
}

/* -----Logo Style----- */

header {
	height: 84px;
	background-color: white;
}

.container {
	width: 81.25%;
	margin: 0 auto;
	max-width: 1600px;
}

#home {
	height: 84px;
	width: auto;
	float: left;
	display: block;
	border-top: 3px solid rgba(0,0,0,0);
	box-sizing: border-box;
	transition: border-top 0.3s;
	
	&:hover {
		border-top: 3px solid $blue;
	}
}	
#home:hover, #home:hover #logo-text {
	color: $font-med;
}

#logo {
	height: 40px;
	width: 40px;
	margin: 22px 8px 0 0;
	display: inline-block;
	vertical-align: top;
	float: left;
	pointer-events: none;
}

#logo-text {
	display: inline-block;
	vertical-align: top;
	margin-top: 19px;
	color: $font-dark;
	transition: color 0.3s;
}

#logo-name {
	font-family: $font;
	font-weight: 300;
	font-size: 1.688em;
	text-align: center;
	line-height: 100%;
	margin: 0;
} 

#logo-slogan {
	font-family: $font;
	font-weight: 300;
	font-size: 0.875em;
	text-align: center;
	line-height: 100%;
	margin: 0;
}

/* -----Nav Style----- */

nav {
	float:right;
	height: 84px;
	
	ul {
		margin: 0;
		padding: 0;
		height: 84px;
	}
	
	li {
		list-style-type: none;
		display: inline-block;
		font-family: $font;
		font-weight: 700;
		font-size: 1em;
		text-align: center;
		color: $font-med;
		width: 95px;
		padding-top: 28px;
		margin: 0;
		box-sizing: border-box;
		
		transition: color 0.3s;
		
		&:hover {
			color:$font-light;
		}
	}
}

.active {
	border-top: 3px solid $blue;
	color: $blue;
	
	&:hover {
		color: $blue;
	}
}

.null {
	
}

/* -----Search Style----- */

#search {
	border-left: 1px solid #e2e8ea;
	border-right: 1px solid #e2e8ea;
	width: 77px;
	margin: 0 8px;
	
	img {
		width: 16px;
		height: 16px;
	}
	
}

/* -----Image Carousel Style----- */

.slider {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
	z-index: 10;
	background-color: $font-dark;
}

.slides {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;

	#slide1 {
		background: url('../img/derrik-1.jpg') no-repeat left center;
		background-size: cover;
	}
	#slide2 {
		background: url('../img/derrik-2.jpg') no-repeat right center;
		background-size: cover;
	}
	#slide3 {
		background: url('../img/derrik-3.jpg') no-repeat right center;
		background-size: cover;
	}
}

.slide {
    height: 100%;
	float: left;
	clear: none;
	padding: 0;
	list-style-type: none;
}    

.slider-nav {
	z-index: 21;
	position: absolute;
	bottom: 30px; 
}

.slider-nav__item {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    margin: 61px 3px 0 3px;
    
    &:hover {
	    background-color: rgba(255,255,255,.5);
    }
}    

.slider-nav__item--current {
	background-color: white;
	
	&:hover {
		background-color: white;
	}
}

.slider-arrows {
	position: absolute;
	height: 500px;
	width: 100%;
	margin-top: -500px;
	pointer-events: auto;
}

.slider-arrow--left {
    height: 500px;
    width: 14%;
    left: 0;
    position: absolute;
	z-index: 21;
    opacity: 0;
    background-image: linear-gradient(to left, rgba(41,199,200,0) 0%,
    											rgba(41,199,200,0.15) 60%,
    											rgba(41,199,200,0.45) 100%);
    transition: opacity 0.4s;										 
    
    &:hover {
    	opacity: 1;
    }
}

.slider-arrow--right {
    height: 500px;
    width: 18%;
    right: 0;
    position: absolute;
    z-index: 21;
    opacity: 0;
    background-image: linear-gradient(to right, rgba(41,199,200,0) 0%,
    											rgba(41,199,200,0.15) 60%,
    											rgba(41,199,200,0.45) 100%);
    transition: opacity 0.4s;										 
    
    &:hover {
    	opacity: 1;
    }
}

#left-arrow {
    position: absolute;
    left: 4%;
    margin-top: 200px;
    z-index: 22;
    transform: rotate(180deg); //rotate so arrow points the opposite direction
}	
	
#right-arrow {
	position: absolute;
    right: 4%;
    margin-top: 200px;
    z-index: 22;
}		



/* -----Surface of Slider Style----- */

.surface {
	background-image: linear-gradient(rgba(41,199,200,0) 50%, 
			  		    			  rgba(41,199,200,0.1) 60%,
			  		    			  rgba(41,199,200,0.27) 70%, 
			  		    			  rgba(41,199,200,0.7) 99%),
			  radial-gradient(circle, rgba(0,0,0,0.50) 0, 
			  		    			  rgba(0,0,0,0.45) 65px,
			  		    			  rgba(0,0,0,0.32) 140px,
			  		    			  rgba(0,0,0,0) 300px);
	background-size: cover; 
	background-repeat: no-repeat;
	text-align: center;
	height: 500px;
	margin-top: -500px;
	position: relative;
	z-index: 20;
	-webkit-font-smoothing: antialiased;
	pointer-events: none;
    	
	h1 {
		font-size: 2.625em;
		font-family: $font;
		font-weight: 300;
		color: white;
		line-height: 100%;
		margin: 0;
		padding-top: 101px;
	}
	
	h2 {
		font-size: 2.125em;
		font-family: $font;
		font-weight: 300;
		color: white;
		line-height: 100%;
		margin: 0;
		padding-top: 32px;
	}
	
	h3 {
		font-size: 1.250em;
		font-family: $font;
		font-weight: 300;
		color: white;	
		line-height: 150%;
		margin: 0;
		padding-top: 36px;
		font-style: italic;
	}
}	
	
#learn-more {
    width: 192px;
    height: 50px;
    margin: 35px auto 0 auto;
    display: block;
    position: relative;
    z-index: 21;
    pointer-events: auto;
    
    font-size: 1em;
    font-family: $font;
    font-weight: 700;
    color: white;
    line-height: 50px;
    				
    background: rgba(172,114,195,0);
    border: 1px solid white;
    border-radius: 7px;

    transition: background-color 0.4s, border 0.3s; 
    
    &:hover {
    	background-color: $purple;
    	border: 1px solid $purple;
    }
}


/* -----Services Style----- */

.services {
	width: 25%;
	margin: 0 auto;
	padding: 90px 0;
	float: left;
	text-align: center;
	
	div {
		height: 120px;
		width: 120px;
		margin: 0 auto;
		border-radius: 60px;

		img {
			margin-top: 35px;
		}
	}
	p {
		font-family: $font;
		font-weight: 400;
		font-size: 0.938em;
		color: $font-light;
		padding: 0 10px;
	}	
}	

#pen {

	div {
    	background-color: $orange; 
    }
    button {
		color: $orange;
    	
    	&:hover {
			background-color: $alt-bg;
			border: 1px solid $orange;
		}    
	}
}

#note {

	div {
    	background-color: $purple; 
    	
    	img {
	    	margin-left: -5px; //visually center music note
    	}
    }
    button {
		color: $purple;
    	
    	&:hover {
			background-color: $alt-bg;
			border: 1px solid $purple;
		}    
	}
}


#preserver {

	div {
    	background-color: $green; 
    }
    button {
		color: $green;
    	
    	&:hover {
			background-color: $alt-bg;
			border: 1px solid $green;
		}    
	}
}

#bulb {

	div {
    	background-color: $blue; 
    }
    button {
		color: $blue;
    	
    	&:hover {
			background-color: $alt-bg;
			border: 1px solid $blue;
		}    
	}
}

.read-more {
	width: 150px;
	height: 42px;
	margin: 30px auto 0 auto;
	border: 1px solid $border;
	border-radius: 6px;
	background: white;
	
	font-size: 0.875em;
	font-family: $font;
	font-weight: 700;
	line-height: 100%;
	
	transition: background-color 0.4s, border 0.4s; 
}

// 404 style
#fourohfour {
	text-align: center;
	height: calc(100% - 334px);
	min-height: 365px;
	font-family: $font;
	background-color: $alt-bg;
	
	span {
		color: $blue;
		font-size: 150px;
		line-height: 150%;
	}
	p {
		color: $font-med;
		font-size: 20px;
		margin-top: -20px;
		line-height: 200%;
	}
	li {
		list-style-type: none;
		margin: 0 auto;
		border: none;
		padding-bottom: 35px;
		
		img {
			width: 42px;
			height: 42px;
		}
	}
}

//Footer
footer {
	height: 250px;
	color: $alt-bg;
	background-color: $font-dark;
	clear: both;
}

// Strip of four colors over footer
#color-bar {
	width: 100%;
	height: 3px;
	
	div {
		width: 25%;
		height: inherit;
		float: left;
	}
}


// Experimental

// iPad/screens under 1024px width 
/*
@media (max-width: 1024px) {
	#left-arrow, #right-arrow, .slider-arrows {
		display: none;
	}
	.slider {
		height: 400px;
	}
	.surface {
		height: 400px;
		margin-top: -400px;
	}
	#learn-more {
    	background-color: $purple;
    	border: 1px solid $purple;
    }
}
*/



