@import url("normalize.css");
/* RBG = 172,114,195 */
/* RBG = 41,199,200 */
/*Google web font with 300, 400, 700 weights*/
/* -----Logo Style----- */
header {
  height: 84px;
  background: white; }

.container {
  width: 81.25%;
  margin: 0 auto;
  height: inherit;
  background-color: white; }

#logo {
  height: 40px;
  width: 40px;
  margin: 22px 8px 0 0;
  display: inline-block;
  vertical-align: top; }

#logo-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 22px; }

#logo-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.688em;
  text-align: center;
  line-height: 100%;
  color: #5a5b5f;
  margin: 0; }

#logo-slogan {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  text-align: center;
  line-height: 100%;
  color: #5a5b5f;
  margin: 0; }

/* -----Nav Style----- */
nav {
  float: right;
  height: 84px; }

ul {
  margin: 0;
  padding: 0;
  height: 84px; }

li {
  list-style-type: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  color: #93969f;
  width: 95px;
  padding: 31px 0;
  margin: 0;
  transition: color 0.3s;
  -webkit-transition: color 0.3s; }
  li:hover {
    color: #bdbfc4; }

.active {
  border-top: 3px solid #29c7c8;
  padding: 29px 0 29px 0;
  color: #29c7c8; }
  .active:hover {
    color: #29c7c8; }


/* -----Search Style----- */
#search {
  border-left: 1px solid #e2e8ea;
  border-right: 1px solid #e2e8ea;
  width: 77px;
  margin: 0 8px; }
  #search object {
    width: 16px;
    height: 16px; }

/* -----Body Style----- */
body {
  background: white;
  min-width: 945px; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    cursor: pointer; }

/* -----Image Carousel Style----- */
#slides-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  animation: fadein 1s ease-in;
  -webkit-animation: fadein 1s ease-in;
  -moz-animation: fadein 1s ease-in;
  -ms-animation: fadein 1s ease-in; }
  #slides-container .slides {
    width: 100%;
    height: 500px;
    margin-left: -100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    animation: carousel 18s linear infinite;
    -webkit-animation: carousel 18s linear infinite;
    -moz-animation: carousel 18s linear infinite;
    -ms-animation: carousel 18s linear infinite; }
    #slides-container .slides:nth-child(1) {
      background: url('../img/derrik-1.jpg') no-repeat right center;
      background-size: cover; }
    #slides-container .slides:nth-child(2) {
      background: url('../img/derrik-2.jpg') no-repeat left center;
      background-size: cover;
      animation-delay: 6s;
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      -ms-animation-delay: 6s; }
    #slides-container .slides:nth-child(3) {
      background: url('../img/derrik-3.jpg') no-repeat right center;
      background-size: cover;
      animation-delay: 12s;
      -webkit-animation-delay: 12s;
      -moz-animation-delay: 12s;
      -ms-animation-delay: 12s; }

/* -----Animations----- */
@keyframes carousel {
  0%, 100% {
    margin-left: -100%;
    z-index: 10; }

  3%, 33.333% {
    margin-left: 0;
    z-index: 10; }

  36.333% {
    margin-left: 100%;
    z-index: 10; }

  37% {
    margin-left: -100%;
    z-index: 0; }

  99% {
    margin-left: -100%;
    z-index: 0; } }

@-webkit-keyframes carousel {
  0%, 100% {
    margin-left: -100%;
    z-index: 10; }

  3%, 33.333% {
    margin-left: 0;
    z-index: 10; }

  36.333% {
    margin-left: 100%;
    z-index: 10; }

  37% {
    margin-left: -100%;
    z-index: 0; }

  99% {
    margin-left: -100%;
    z-index: 0; } }

@-moz-keyframes carousel {
  0%, 100% {
    margin-left: -100%;
    z-index: 10; }

  3%, 33.333% {
    margin-left: 0;
    z-index: 10; }

  36.333% {
    margin-left: 100%;
    z-index: 10; }

  37% {
    margin-left: -100%;
    z-index: 0; }

  99% {
    margin-left: -100%;
    z-index: 0; } }

@-ms-keyframes carousel {
  0%, 100% {
    margin-left: -100%;
    z-index: 10; }

  3%, 33.333% {
    margin-left: 0;
    z-index: 10; }

  36.333% {
    margin-left: 100%;
    z-index: 10; }

  37% {
    margin-left: -100%;
    z-index: 0; }

  99% {
    margin-left: -100%;
    z-index: 0; } }

@keyframes active-dot {
  0%, 37%, 100% {
    background-color: #bdbfc4; }

  3%, 34% {
    background-color: #e7604a; } }

@-webkit-keyframes active-dot {
  0%, 37%, 100% {
    background-color: #bdbfc4; }

  3%, 34% {
    background-color: #e7604a; } }

@-moz-keyframes active-dot {
  0%, 37%, 100% {
    background-color: #bdbfc4; }

  3%, 34% {
    background-color: #e7604a; } }

@-ms-keyframes active-dot {
  0%, 37%, 100% {
    background-color: #bdbfc4; }

  3%, 34% {
    background-color: #e7604a; } }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/* ----- Return to Image Carousel Style----- */
.slide-surface {
  background-image: linear-gradient(rgba(41, 199, 200, 0) 50%, rgba(41, 199, 200, 0.1) 60%, rgba(41, 199, 200, 0.27) 70%, rgba(41, 199, 200, 0.7) 99%), radial-gradient(circle, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.35) 25%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0) 50%);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 500px;
  margin-top: -500px;
  position: relative;
  z-index: 20;
  animation: fadein 0.85s ease-in;
  -webkit-animation: fadein 0.85s ease-in;
  -moz-animation: fadein 0.85s ease-in;
  -ms-animation: fadein 0.85s ease-in; }
  .slide-surface h1 {
    font-size: 2.625em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 100%;
    margin: 0;
    padding-top: 101px; }
  .slide-surface h2 {
    font-size: 2.125em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 100%;
    margin: 0;
    padding-top: 32px; }
  .slide-surface h3 {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 150%;
    margin: 0;
    padding-top: 36px; }
  .slide-surface button {
    width: 193px;
    height: 50px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    line-height: 100%;
    margin: 35px auto 0 auto;
    display: block;
    background: rgba(172, 114, 195, 0);
    border: 1px solid white;
    border-radius: 7px;
    outline: none;
    transition: background-color 0.4s, border 0.1s;
    -webkit-transition: background-color 0.4s, border 0.1s; }
    .slide-surface button:hover {
      background-color: #ac72c3;
      border: 1px solid #ac72c3; }
  .slide-surface .dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #bdbfc4;
    display: inline-block;
    margin: 61px 3px 0 3px;
    animation: active-dot 18s linear infinite;
    -webkit-animation: active-dot 18s linear infinite;
    -moz-animation: active-dot 18s linear infinite;
    -ms-animation: active-dot 18s linear infinite; }
  .slide-surface #dot-2 {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s; }
  .slide-surface #dot-3 {
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -ms-animation-delay: 12s; }
