@import url("normalize.css");
/*Google web font with 300, 400, 700 weights*/
/* -----Logo Style----- */
header {
  height: 84px;
  background: white; }

.container {
  width: 90.625%;
  margin: 0 auto;
  height: inherit;
  background-color: white; }

#logo {
  margin: 0 5px 7px 0;
  display: inline-block; }

#logo-text {
  display: inline-block; }

#logo-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.688em;
  text-align: center;
  line-height: 100%;
  color: #5a5b5f;
  margin-bottom: 0; }

#logo-slogan {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  text-align: center;
  line-height: 1em;
  color: #5a5b5f;
  margin: 0; }

/* -----Nav Style----- */
nav {
  float: right;
  height: 84px; }

ul {
  margin: 0;
  padding: 0;
  height: 84px; }

li {
  list-style-type: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  line-height: px;
  color: #93969f;
  width: 95px;
  padding: 31px 0;
  margin: 0; }
  li :hover {
    color: #bdbfc4; }

.active {
  border-top: 2px solid #29c7c8;
  padding: 29px 0 30px 0;
  color: #29c7c8; }
  .active :hover {
    color: #29c7c8; }

/* -----Search Style----- */
#search {
  border-left: 1px solid #e2e8ea;
  border-right: 1px solid #e2e8ea;
  width: 77px;
  margin: 0 8px; }

/* -----Body Style----- */
body {
  background: #36c77b;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }
  a :hover {
    cursor: pointer; }
